<footer class="mt">
  <div class="footer">
    <div class="left">
      <h2>FAQ</h2>
      <div class="links">
        <a href="/cancellations">Cancellation Policy</a>
        <a href="/prepayment">Prepayment</a>
        <a href="/age">Age Range</a>
        <a href="/flights">Flight Options</a>
      </div>
    </div>

    <a href="/"
      ><img src="/public/images/salty_feet_logo.png" width="200" class="logo"
    /></a>

    <div class="right">
      <h2>CONTACT</h2>
      Eylul Kusat
      <br/> 
      <a href="tel:+32485888391">0032 485 88 83 91</a>
      
      <br />
      <a href="https://www.instagram.com/saltyfeettravel/">
        saltyfeettravel/instagram
      </a>
      <br />
      <a href="mailto:saltyfeettravel@outlook.com">
        saltyfeettravel@outlook.com
      </a>
    </div>
  </div>

  <p>&copy; 2025 Salty Feet</p>
</footer>
