<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salty Feet 👣 | {{ title }}</title>
    <meta name="description" content="Salty feet surf camp" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/utils.css" />

    <link rel="stylesheet" href="/public/css/style.css" />

    {% if css %}
    <link rel="stylesheet" href="{{ css }}" />
    {% endif %}
  </head>
  <body>
    {% include "header.html" %}

    <main>{{ content }}</main>

    {% include "footer.html" %}

    <script src="/public/js/script.js"></script>
  </body>
</html>
