<div class="grid-item dark-grid-item">
  <h3 class="text-center">Approximatly Prices (per person)</h3>
  <div class="text-center">HOTEL FOR A WEEK</div>
  <p class="small-text text-center">breakfast and airport transfer included.</p>
  <hr />
  <div class="flex space-between">
    <span>Starting from 400 € pp.</span>
    <span>Starting from 500 € pp.</span>
  </div>

  <div class="text-center">VILLA FOR A WEEK</div>
  <p class="small-text text-center">airport transfer included.</p>
  <hr />
  <div class="flex space-between">
    <span>Starting from 500 € pp.</span>
    <span>Starting from 600 € pp.</span>
  </div>
  <div class="flex space-between mt">
    <span>LOW SEASON</span>
    <span>HIGH SEASON</span>
  </div>

  <div class="flex space-between">
    <span
      >April - May<br />
      September - November</span
    >
    <span>June - August</span>
  </div>

  <div class="flex small-text space-between">
    <span
      >Day: 25 C <br />
      Night: 20 C</span
    >
    <span
      >Day: 35 C <br />
      Night: 30 C</span
    >
  </div>
</div>
