/* Fonts loaded from public/fonts folder */
@font-face {
  font-family: "Bodoni";
  src: url("../fonts/bodoni-mt-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Elephant";
  src: url("../fonts/elephant-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --brown: #e0c8a2;
  --light-brown: #d1955b;
  --dark-brown: #a16340;
  --light-bg: #fff5f0;
  --dark-bg: #756c4e;

  --light-brown-bg: #e3d2b2;
  --grey-bg: #857f62;
  --blue-bg: #506ea7;
  --light-blue-bg: #e1f0f7;
  --dark-text: #322c26;
  --light-text: #fff3ef;
  --dark-title: #904f30;
  --darker-title: #361709;
  --light-title: #c6a18e;

  --yellow-text: #ec9c3d;
  --gap: 2rem;
  --big-title-size: 4rem;
  --lg-text: 1.5rem;
  --xl-text: 2.5rem;
  --small-text-size: 12px;

  --block-padding: 20px;
  --border-radius: 15px;
  --font-header: Elephant, sans-serif;
}
* {
  scroll-behavior: smooth;
}

html {
  overflow-x: clip;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  overflow-x: clip;

  padding: 0;
  background: var(--light-bg);
  color: var(--dark-brown);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-header);
  color: var(--dark-brown);
}

img {
  border-radius: 4px;
  /* outline: 2px solid var(--light-bg);
  outline-offset: 4px; */
}

header {
  background: var(--light-bg);

  padding: 10px;
  text-align: center;
}
header nav {
  text-transform: uppercase;
  font-family: var(--font-header);

  display: flex;
  gap: var(--gap);
  justify-content: center;
  border-bottom: 1px solid var(--dark-title);
  width: fit-content;
  margin: auto;
  padding-bottom: var(--gap);
  margin-bottom: var(--gap);
}
nav a {
  text-decoration: none;
}

a {
  color: inherit;
}

.logo {
  margin: auto;
}
.btn {
  background: var(--blue-bg);
  color: var(--light-text);
  font-family: var(--font-header);
  border: none;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}
.btn-full {
  width: 100%;
}
.btn-light {
  background: var(--brown);
  color: var(--darker-title);
}
.block-neutral {
  padding: var(--block-padding);

  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 1rem;
}
.block-brown {
  background-color: var(--brown) !important;
}
.block-border {
  border: 2px solid var(--dark-brown);
}
.block-blue {
  padding: var(--block-padding);
  background: var(--blue-bg);
  color: var(--light-text);
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 1rem;
}

.light-bg {
  background: var(--light-bg);
}
.bg-light-brown {
  background: var(--light-brown-bg);
}
.bg-light-blue,
.light-blue-bg {
  background: var(--light-blue-bg);
}
.block-light-blue {
  padding: var(--block-padding);
  background: var(--light-blue-bg);
  color: var(--dark-text);
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 1rem;
}
.block-full::after {
  content: "";
  display: block;

  background: inherit;
  position: absolute;
  bottom: 0;

  top: 0;

  left: -100vw;
  right: -100vw;
  z-index: -1;
}
.block-blue h2,
.block-blue h3 {
  color: var(--light-text);
}

.block-light-blue h2,
.block-light-blue h3 {
  color: var(--dark-text);
}
.block-light {
  background: var(--light-bg);
  color: var(--dark-text);
  padding: var(--block-padding);
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 1rem;
}

.filtered {
  background-image: radial-gradient(ellipse, #0000, #0007),
    linear-gradient(0deg, #9725, #9725),
    url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
  background-size: auto, auto, auto, cover;
  background-repeat: repeat;
  background-position: center;
  font-family: "Courier New", Courier, monospace;
  filter: blur(0.03em) saturate(0.7) contrast(1.5) brightness(1.2);
}

.block-dark {
  background-color: var(--dark-bg);
  outline: 2px solid var(--light-bg);
  outline-offset: 4px;
  color: var(--light-text);
  padding: calc(var(--block-padding) * 2);
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 1rem;
}

.block {
  position: relative;
  z-index: 1;
}
.large-text {
  font-size: var(--big-title-size);
  line-height: 1;
}
.small-text {
  font-size: var(--small-text-size);
}
h3.title-big {
  font-size: var(--big-title-size);
  line-height: 1;
  text-transform: uppercase;
  color: var(--light-title);
}
h4.title-name {
  transform: translateY(-10px);
}

.block p + p {
  margin-top: var(--gap);
}
.rightGirl,
.leftGirl {
  position: absolute;
  object-fit: cover;
  height: 130%;
  top: -35px;
  pointer-events: none;
}
.rightGirl {
  right: -50px;
  width: auto;
}

.start-booking {
  background: var(--light-bg);
  width: 100%;
  max-width: 350px;
  padding: var(--block-padding);

  border-radius: var(--border-radius);
}

.start-booking img {
  object-fit: cover;
  height: auto;
}

hr {
  border-color: var(--dark-title);
  border-style: solid;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .small-col {
    flex-direction: column;
  }
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.starlist li {
  list-style-image: url(/public/icons/star.svg);
}

.flowerlist li {
  list-style-image: url(/public/icons/flower.svg);
}
.flowerlist strong {
  font-weight: 600;
}
.starlist strong {
  margin-top: 1rem;
  color: var(--darker-title);
  font-weight: 600;
  display: block;
}
.bold {
  font-weight: 600;
}
.text-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) * 2);
}

.text-image .image {
  flex-shrink: 0;
}
.text-image .image img {
  height: 100%;

  width: 30vw;
}
.images {
  height: 220px;
  display: flex;
  gap: calc(var(--gap) * 1);
  justify-content: center;
  align-items: center;
}

.images img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

footer {
   padding: 20px;
  text-align: center;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  justify-content: space-between;
}
.footer a{
  text-decoration: none;
}
.footer .links{
  display: flex;
  flex-direction: column;
   
  
}

.footer .right{
 text-align: right;
  
}
@media (max-width: 768px) {
  :root {
    --big-title-size: 2.5rem;
    --block-padding: 10px;
  }
  .leftGirl {
    display: none;
  }
  .rightGirl {
    position: relative;
    right: 0;
  }
  .block:has(.rightGirl) {
    display: flex;
    flex-direction: column-reverse;
  }
  .images {
    flex-direction: column;
    gap: calc(var(--gap) * 0.5);
    height: auto;
  }
  .images img {
    width: 100%;
  }
  .text-image {
    flex-direction: column;
    align-items: center;
  }
  .text-image .image {
    width: 100%;
    height: auto;
  }
  .text-image .image img {
    width: 100%;
    height: auto;
  }
  .text-image.image-first {
    flex-direction: column-reverse;
  }
}

/* dialog {
  margin: 0;  
  transform: translateX(-50%);
  margin-top: 20vh;
  left: 50%;
} */
.acc-card {
  background: var(--blue-bg);
  padding: 20px;
  border-radius: var(--border-radius);
  display: block;
  color: var(--light-text);
}

.acc-card .white-title {
  background-color: white;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;

  margin-top: -20px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.acc-card .white-title h4 {
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.acc-card input {
  display: none;
}
.acc-card .btn {
  margin: 10px;
}
.acc-card:has(input:checked) {
  outline: 2px solid var(--blue-bg);
  outline-offset: 4px;
}
.acc-card img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.date-picker {
  background-color: var(--blue-bg);
  width: 300px;
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--light-text);
}
.date-picker > div {
  display: flex;
  justify-content: space-between;
}

.date-picker > div + div {
  margin-top: 1rem;
}
